.found{
    height: 85vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.found img{
    margin: 0px 0px 42px 0px;
}
.found p{
    font-family: 'Inter', sans-serif;
    font-weight: 400px;
    size: 22px;
    line-height: 30.8px;
    color: #808080;
    text-align: center;
}
